<launch>
	<!-- settings server -->
	<include file="$(find settings_store)/launch/settings_store_server.launch" > 
		<arg name="settingsfilename" value="$(env PWD)/settings.json"/>
	</include>
	<!-- web bridge -->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="9090"/>
	</include>
	<!-- hardware_monitor -->
	<node name="hardware_monitor" pkg="hardware_monitor" type="hardware_monitor" />
	<!-- leddarVu8 -->
	<include file="$(find emobile)/launch/leddarVu8.launch" > 
		<arg name="serialPort" value="/dev/leddarvu8"/>
	</include>
	<!-- leddarM16 -->
	<include file="$(find emobile)/launch/leddarM16.launch" > 
		<arg name="serialPort" value="/dev/leddarm16"/>
	</include>
	<!-- pointCloud -->
	<include file="$(find emobile)/launch/pointCloud.launch" > 
	</include>
	<!-- command -->
	<include file="$(find emobile)/launch/command.launch" > 
	</include>
	<!-- gyro -->
	<include file="$(find emaginarium_common)/launch/gyro.launch" >
		<arg name="i2cPort" value="1"/>
		<arg name="sMpuAddress" value="104"/>
	</include>
	<!-- Actuator -->
	<include file="$(find emobile)/launch/actuatoresp32.launch" >
	</include>
	<!-- img detection -->
	<!-- 
	<node name="light_and_line_detector" pkg="emaginarium_common" type="light_and_line_detector">
	</node> -->
	<!-- web_video_server, a node to stream image topic to web client -->	
	<node name="web_video_server" pkg="web_video_server" type="web_video_server">
		<param name="port" value="8080"></param>
		<param name="ros_threads" value="2"></param>
	</node>	
</launch>
