<launch>
	<!-- settings server -->
	<include file="$(find settings_store)/launch/settings_store_server.launch" > 
		<arg name="settingsfilename" value="$(env PWD)/settings.json"/>
	</include>
	<!-- web bridge -->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="9090"/>
	</include>
	<!-- hardware_monitor -->
	<node name="hardware_monitor" pkg="hardware_monitor" type="hardware_monitor" />
	<!-- leddarVu8 -->
	<include file="$(find emobile)/launch/leddarVu8.launch" > 
		<arg name="serialPort" value="/dev/leddarvu8"/>
	</include>
	<include file="$(find emobile)/launch/leddarM16.launch" > 
		<arg name="serialPort" value="/dev/leddarm16"/>
	</include>
	<include file="$(find emobile)/launch/pointCloud.launch" > 
	</include>
	<include file="$(find emobile)/launch/command.launch" > 
	</include>
	<include file="$(find emobile)/launch/odometer.launch" > 
	</include>
	<!-- Actuator -->
	<include file="$(find emobile)/launch/actuator.launch" > 
		<arg name="pinT" value="18"/>
		<arg name="pinS" value="23"/>
	</include>
	<!-- web_video_server, a node to stream image topic to web client -->	
	<node name="web_video_server" pkg="web_video_server" type="web_video_server">
		<param name="port" value="8080"></param>
		<param name="ros_threads" value="2"></param>
	</node>	
</launch>
