<launch>
	<!-- settings server -->
	<include file="$(find settings_store)/launch/settings_store_server.launch" > 
		<arg name="settingsfilename" value="$(env PWD)/settings.json"/>
	</include>
	<!-- web bridge -->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="9090"/>
	</include>
	<!-- hardware_monitor -->
	<node name="hardware_monitor" pkg="hardware_monitor" type="hardware_monitor" />
	<!-- gyro -->
	<include file="$(find emaginarium_common)/launch/gyro.launch" > 
		<arg name="i2cPort" value="1"/>
	</include>
	<!-- ultrasound -->
	<include file="$(find emaginarium)/launch/ultrasound.launch" > 
		<arg name="serialPort" value="/dev/arduinomega"/>
	</include>
	<!-- tinylidar -->
	<include file="$(find emaginarium)/launch/tinylidar.launch" > 
		<arg name="serialPort" value="/dev/arduinoduemilanove"/>
	</include>
	<!-- speed -->
	<include file="$(find emaginarium)/launch/speed.launch" > 
		<arg name="pinA" value="24"/>
		<arg name="pinB" value="23"/>
	</include>
	<!-- antenna -->
	<!--<include file="$(find emaginarium)/launch/antenna.launch" > 
		<arg name="pinA" value="20"/>
		<arg name="pinB" value="21"/>
	</include>-->
	<!-- command thrust -->
	<include file="$(find emaginarium)/launch/commandThrust.launch" > 
		
	</include>
	<!-- nosewheel command -->
	<include file="$(find emaginarium)/launch/commandNosewheel.launch" > 
		<arg name="serialPort" value="/dev/dynamixel"/>
	</include>-->
	<!-- web_video_server, a node to stream image topic to web client -->	
	<node name="web_video_server" pkg="web_video_server" type="web_video_server">
		<param name="port" value="8080"></param>
		<param name="ros_threads" value="2"></param>
	</node>	
</launch>
