

.hw_scalarroot{
	font-size:1em;
	text-align:center;
	margin-top:0.5em;
}

.hw_scalarentry{
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	display: inline-block;
	border: 1px solid #999;
	width:9em;
}

.hw_scalarlabel{
	float:left;
	margin-left:0.2em;
}

.hw_scalarvalue{
	float:right;
	margin-left:0.2em;
	margin-right:0.2em;
}

.hw_ok{
	background-color:rgba(0,0,255,0.1);
}

.hw_critical{
	background-color:rgba(255,0,0,0.6);
}

.hw_warning{
	background-color:rgba(255,128,0,0.6);
}
