html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#waiterroot {
	flex-grow: 1;
	text-align:center;
	position:relative;
	
}

#waiter {
	width:4em;
	height:4em;
}

#topiclist {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap:wrap;
	margin-bottom:0.2em;
}

.topicentry {
	margin-left:0.5em;
	margin-top:0.15em;
	margin-bottom:0.15em;
	border-radius:0.5em;
	
	position: relative;
	display: inline-block;
}

.topicentry input {
	display:none;
}

.topicentryspan {
	padding-left:0.5em;
	padding-right:0.5em;
	background-color: #ccc;
	border-radius:0.5em;

	user-select: none;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .topicentryspan {
	background-color: rgba(0,0,128,0.6);
}

#imagecontainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap:wrap;
}

#imagecontainer img{
	background-color:red;
	min-width:4em;
	min-height:4em;
	width: 50%;
	height: 100%;
	image-rendering:crisp-edges;
	image-rendering:pixelated;
}