<launch>
	<arg name="pinA" default="26"/>
	<arg name="pinB" default="19"/>
	<arg name="pinC" default="13"/>
	<arg name="pinD" default="6"/>
	<node name="commandThrust" pkg="imaginarium" type="commandThrust.py">
		<param name="pinA" value="$(arg pinA)"/>
		<param name="pinB" value="$(arg pinB)"/>
		<param name="pinC" value="$(arg pinC)"/>
		<param name="pinD" value="$(arg pinD)"/>
	</node>
</launch>
