<launch>
	<!-- mongodb_store -->
<!--
	<include file="$(find mongodb_store)/launch/mongodb_store.launch" >
       		<arg name="use_daemon" value="true"/>
		<arg name="port" value="27017"/> 
	</include>
-->
	<!-- settings server -->
	<include file="$(find settings_store)/launch/settings_store_server.launch" > 
		<arg name="settingsfilename" value="$(env PWD)/settings.json"/>
	</include>
	
	<!-- rosbridge interface to web front-end -->	
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="9090"/>
	</include>
	
	<!-- hardware_monitor -->
	<node name="hardware_monitor" pkg="hardware_monitor" type="hardware_monitor" />
	
	<!-- grading_machine_test -->
	<!-- <include file="$(find grading_machine)/launch/grading_machine_test.launch" > 
	
	</include>-->
	
</launch> 
