<launch>
	<!-- mongodb_store -->
<!--
	<include file="$(find mongodb_store)/launch/mongodb_store.launch" >
       		<arg name="use_daemon" value="true"/>
		<arg name="port" value="27017"/> 
	</include>
-->	
	<!-- rosbridge interface to web front-end -->	
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
		<arg name="port" value="9090"/>
	</include>
	<node name="settings_store" pkg="settings_store" type="settings_store_server.py" args="~/settings_store.json"/>
	<!-- hardware_monitor -->
	<node name="hardware_monitor" pkg="hardware_monitor" type="hardware_monitor" />
</launch> 
